.cart-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.item-info h3 {
  margin-bottom: 5px;
}

.item-info p {
  font-weight: bold;
}

.cart-item button {
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  background: red;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.cart-page button {
  margin-top: 20px;
  padding: 8px 15px;
  border: none;
  background: var(--color);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
