
.Allproducts-container {
  width: 100%;
  padding: 20px;
  
}



.Allproducts-container .head #p{
    color: var(--main_color);
    margin-bottom: 2rem;
   
    
    
}

.slider-track1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.product-card1 {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

.product-card1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; 
  animation: fadeInUp 0.5s forwards; 
}


.image-wrapper1 {
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.image-wrapper1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.offer-tag1 {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff4d4f;
  color: #fff;
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 5px;
}


.product-name1 {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}


.price-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.new-price1 {
  color: #ff4d4f;
  font-weight: bold;
}

.old-price1 {
  color: #888;
  text-decoration: line-through;
}


.btn-add1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: var(--color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-add1 img {
  width: 1.3rem;
}

.btn-add1:hover {
  background: #333;
}


.btn-show-more {
  background-color: var(--color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  display: block;
  margin: 20px auto;
}

.btn-show-more:hover {
  background-color: #e38449;
}

.back-btn {
  background: var(--color);
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 14px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #444;
}



@media (max-width: 768px) {
  .product-card {
    width: 180px;
  }

  .image-wrapper {
    height: 170px;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 160px;
  }

  .image-wrapper {
    height: 150px;
  }
}
