@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lfcvia');
  src:  url('fonts/icomoon.eot?lfcvia#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lfcvia') format('truetype'),
    url('fonts/icomoon.woff?lfcvia') format('woff'),
    url('fonts/icomoon.svg?lfcvia#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
  content: "\e907";
}
.icon-verified:before {
  content: "\e904";
}
.icon-keyboard_arrow_up:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-heart1:before {
  content: "\e90a";
}
.icon-user-plus1:before {
  content: "\e908";
}
.icon-x:before {
  content: "\e902";
}
.icon-github:before {
  content: "\e903";
}
.icon-moon-o:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e909";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-linkedin:before {
  content: "\eac9";
}
