/* Reset & Box-sizing */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: var(--bg_color);
}

.container .navbar{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 1.5rem;
}


.container .navbar .icon{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container .navbar .icon img{
    width: 40px;
    height: 40px;
}


.container .navbar .links a{
    margin: 1rem;
    color: var(--color_heading);
    transition: 0.3s;
    text-transform: capitalize;
}

.container .navbar .links a:hover{
    cursor: pointer;
    color: var(--color);
}

/* Search & Login */
.container .navbar .search_login{
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative; 
}

.container .navbar .search_login img{
    width: 20px;
}

.container .navbar .search_login button{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10rem;
    color: white;
    gap: 3px;
    background-color: var(--color);
    cursor: pointer;
}

/* Search Wrapper (dropdown) */
.search-wrapper {
    position: absolute;
    top: 40px; 
    right: 0;
    width: 280px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    z-index: 100;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Search Form */
.search-form {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.search_login .cart-icon img:hover{
    cursor: pointer;
}

.search-form input {
    flex: 1;
    padding: 6px;
    border: none;
    outline: none;
    border-radius: 6px 0 0 6px;
    font-size: 14px;
    background-color: #f9f9f9;
}

.search-form button {
    background: #eee;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
}

.search-form button img {
    width: 18px;
    height: 18px;
}

/* Search Results Dropdown */
.search-results {
    max-height: 250px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
}

.search-item {
    padding: 8px 12px;
    cursor: pointer;
    transition:  0.2s;
}

.search-item:hover {
    background-color: #f0f0f0;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 5px;
  border-bottom: 1px solid #eee;
}

.cart-item-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  font-size: 14px;
  font-weight: 500;
}

.cart-item-price {
  font-size: 13px;
  color: #555;
}



/* Responsive for Mobile */
@media (max-width: 700px) {
    .container .navbar{
        gap: 0.5rem;
        width: 95%;
        justify-content: space-between;
    }
    .container .navbar .links a{
        margin:4px;
    }


    .container .navbar .icon{
    margin-left: -1rem;
    gap: 0.5rem;
}
    
    .search-wrapper {
        right: 5px;
        width: 90%;
        top: 50px;
    }
}
