@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "DM Sans", sans-serif;
  font-family: "Inter", sans-serif; */
}


:root{
  --main_color:#7b7b7b;
  --bg_color:#E5DCDC;
  --color:#fd784e;
  --color_heading:#253237;
  --border_color:#d6d6d6d5;
}

.border{
    border: 1px solid red;
}

.flex{
display: flex;

}


img{
  width: 100%;
}

h1,h2,h3{
  color: var(--color_heading);
  font-family: "DM Sans", sans-serif;
}




input,button,select,textarea{
  outline: none;
  border: none;
}

a{
  text-decoration: none;
  color: #ffffffdf;
 
}
ul{
  list-style: none;
}

